# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
*.user
*.suo
*.log
*.userosscache
*.sln.docstates

# Ignore build directories
bin/
obj/

# Ignore packages
packages/
